.ui-btn-active.ui-state-persist{
	background-color:#0d7aa6b5!important;
}
.ui-content{
	background-color:#edc2b1;
}
#home .ui-content{
	background-color:white!important;
}



#img1{
    width: 91px;
    height: 86px;
    margin-left: 96px;
}
#img2{
    width: 69px;
    height: 62px;
}


.ui-page .ui-header {
    background:#ffffff!important;
    height:87px;
    position: fixed;
}
.ui-btn{
	border-radius: 0px !important;

}
.ui-btn-left {
 left:0em !important; 
}
.ui-btn-left, .ui-btn-right {
    position: absolute !important;
   top:0em !important;
}
.responsive {
  width: 100%;
  height:100%;
}
#left-panel{
	background-color: red!important;
	margin-top: 89px!important;
	width: 100%!important;
}
#left-panel{
	background-color: #ab0535 !important;
}
#left-panel .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited{
	background-color:  #ab0535 !important;
	border-color: #d29a8d!important;
	color: white;
	font-size:30px;
	font-family:monospace;
	font-weight: lighter;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color:white !important;
	border-color:white!important;
	
}

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      /*google map*/
      #google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
#google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
p{
  color:black;
}

#my-listview-id {
   height:100%;
}
#my-listview-id li {
    height:50%!important;
}